<div class="wrapper" id="wrapper-footer">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<footer class="site-footer" id="colophon">

					<div class="footer-brand col-xs-9 col-sm-3 col-md-2">
						<div class="wrapper">
            <!-- Your site title as branding in the menu -->
  					<a href="" class="navbar-brand custom-logo-link" rel="home" itemprop="url"><img width="268" height="62" src="../../../app/assets/logotype-inverted.png" class="img-responsive" alt="" itemprop="logo"></a></div><!-- end custom logo -->
          </div><!-- .site-info -->

          <div class="footer-brand col-xs-12 col-sm-9 col-md-10">

          	<div class="wrapper" id="wrapper-footer-full">

          					<div class="textwidget">Eniro är den lokala sökmotorn.
          En smart genväg till det du behöver, i din närhet eller dit du ska.</div>
          					<div class="textwidget">Eniro Sverige AB - SE-169 87 Stockholm,
          Telefon: 0770-77 97 97</div>

          	</div><!-- #wrapper-footer-full -->

          </div>

				</footer><!-- #colophon -->

			</div><!--col end -->

		</div><!-- row end -->

	</div><!-- container end -->

</div>
