<div class="wrapper-fluid wrapper-navbar" id="wrapper-navbar">

		<a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>

		<nav class="navbar navbar-dark bg-inverse site-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

			<div class="container">

				<div class="navbar-header">

					<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
					<button class="navbar-toggler hidden-sm-up navbar-right" type="button" data-toggle="collapse" data-target=".exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"></button>

					<!-- Your site title as branding in the menu -->
					<a class="navbar-brand custom-logo-link" rel="home" itemprop="url"><img width="268" height="62" src="app/assets/logotype-inverted.png" class="img-responsive" alt="" itemprop="logo"></a><!-- end custom logo -->

				</div>

				<!-- The WordPress Menu goes here -->
				<div id="exCollapsingNavbar" class="collapse navbar-toggleable-xs exCollapsingNavbar"><ul id="main-menu" class="nav navbar-nav navbar-right btn dark"><li id="menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-379"><a title="Logga in <i class=&quot;e-icon-user&quot;></i>" href="#" class="nav-link">Logga in <i class="e-icon-user"></i></a></li>
</ul></div>
			</div> <!-- .container -->

		</nav><!-- .site-navigation -->

	</div>
