<div id="glyphs">
        <ul>


          <li class="glyph"><a href="#house" title="house">⌂</a></li>

          <li class="glyph"><a href="#house-with-dashed-border" title="house-with-dashed-border"></a></li>

          <li class="glyph"><a href="#house-with-fence" title="house-with-fence"></a></li>

          <li class="glyph"><a href="#briefcase" title="briefcase">💼</a></li>

          <li class="glyph"><a href="#location" title="location">📌</a></li>

          <li class="glyph"><a href="#location2" title="location2">📍</a></li>

          <li class="glyph"><a href="#locationa" title="locationa"></a></li>

          <li class="glyph"><a href="#locationb" title="locationb"></a></li>

          <li class="glyph"><a href="#cart" title="cart"></a></li>

          <li class="glyph"><a href="#webshop" title="webshop"></a></li>

          <li class="glyph"><a href="#search" title="search">&#x1f50d;</a></li>

          <li class="glyph"><a href="#share" title="share"></a></li>

          <li class="glyph"><a href="#cog" title="cog">⚙</a></li>

          <li class="glyph"><a href="#clear" title="clear">␡</a></li>

          <li class="glyph"><a href="#checkcircle" title="checkcircle"></a></li>

          <li class="glyph"><a href="#blacklargecircle" title="blacklargecircle">⬤</a></li>

          <li class="glyph"><a href="#blackcircle" title="blackcircle">●</a></li>

          <li class="glyph"><a href="#closethin" title="closethin"></a></li>

          <li class="glyph"><a href="#trashcan" title="trashcan">🗑</a></li>

          <li class="glyph"><a href="#plus" title="plus">+</a></li>

          <li class="glyph"><a href="#minus" title="minus">-</a></li>

          <li class="glyph"><a href="#rows" title="rows"></a></li>

          <li class="glyph"><a href="#columns" title="columns"></a></li>

          <li class="glyph"><a href="#list" title="list"></a></li>

          <li class="glyph"><a href="#dotdotdot" title="dotdotdot"></a></li>

          <li class="glyph"><a href="#more-vertical" title="more-vertical"></a></li>

          <li class="glyph"><a href="#expand" title="expand">⤢</a></li>

          <li class="glyph"><a href="#contract" title="contract"></a></li>

          <li class="glyph"><a href="#switchleftright" title="switchleftright"></a></li>

          <li class="glyph"><a href="#switchupdown" title="switchupdown"></a></li>

          <li class="glyph"><a href="#play" title="play">▶</a></li>

          <li class="glyph"><a href="#navigate" title="navigate"></a></li>

          <li class="glyph"><a href="#earth" title="earth">🌍</a></li>

          <li class="glyph"><a href="#chat" title="chat">💬</a></li>

          <li class="glyph"><a href="#megaphone" title="megaphone">📣</a></li>

          <li class="glyph"><a href="#electric-light-bulb" title="electric-light-bulb">💡</a></li>

          <li class="glyph"><a href="#user" title="user">👤</a></li>

          <li class="glyph"><a href="#users" title="users">👥</a></li>

          <li class="glyph"><a href="#routing" title="routing"></a></li>

          <li class="glyph"><a href="#layers" title="layers"></a></li>

          <li class="glyph"><a href="#calendar" title="calendar">📅</a></li>

          <li class="glyph"><a href="#pencil" title="pencil">🖉</a></li>

          <li class="glyph"><a href="#compose" title="compose"></a></li>

          <li class="glyph"><a href="#empty-document" title="empty-document">🗋</a></li>

          <li class="glyph"><a href="#document" title="document">🗎</a></li>

          <li class="glyph"><a href="#two-documents" title="two-documents"></a></li>

          <li class="glyph"><a href="#pdf-document" title="pdf-document"></a></li>

          <li class="glyph"><a href="#scissors" title="scissors">✄</a></li>

          <li class="glyph"><a href="#hairdresser" title="hairdresser"></a></li>

          <li class="glyph"><a href="#tooth" title="tooth"></a></li>

          <li class="glyph"><a href="#toiletpaperroll" title="toiletpaperroll"></a></li>

          <li class="glyph"><a href="#download" title="download"></a></li>

          <li class="glyph"><a href="#upload" title="upload"></a></li>

          <li class="glyph"><a href="#fork-and-knife" title="fork-and-knife">💊</a></li>

          <li class="glyph"><a href="#fork-and-knife-2" title="fork-and-knife-2"></a></li>

          <li class="glyph"><a href="#wineglass" title="wineglass">🍷</a></li>

          <li class="glyph"><a href="#cocktailglass" title="cocktailglass">🍸</a></li>

          <li class="glyph"><a href="#coffeecup" title="coffeecup">☕</a></li>

          <li class="glyph"><a href="#can" title="can"></a></li>

          <li class="glyph"><a href="#softicecream" title="softicecream">🍦</a></li>

          <li class="glyph"><a href="#bread" title="bread">🍞</a></li>

          <li class="glyph"><a href="#sandwich" title="sandwich"></a></li>

          <li class="glyph"><a href="#pizza" title="pizza">🍕</a></li>

          <li class="glyph"><a href="#hamburger" title="hamburger">🍔</a></li>

          <li class="glyph"><a href="#hotdog" title="hotdog">🌭</a></li>

          <li class="glyph"><a href="#friedegg" title="friedegg"></a></li>

          <li class="glyph"><a href="#friedegg-and-bacon" title="friedegg-and-bacon"></a></li>

          <li class="glyph"><a href="#maki-roll" title="maki-roll"></a></li>

          <li class="glyph"><a href="#thai-bowl" title="thai-bowl"></a></li>

          <li class="glyph"><a href="#pill" title="pill">🍴</a></li>

          <li class="glyph"><a href="#notes" title="notes">🎝</a></li>

          <li class="glyph"><a href="#filmframes" title="filmframes">🎞</a></li>

          <li class="glyph"><a href="#atm" title="atm">🏧</a></li>

          <li class="glyph"><a href="#camera" title="camera">📷</a></li>

          <li class="glyph"><a href="#binoculars" title="binoculars"></a></li>

          <li class="glyph"><a href="#clock" title="clock">⏲</a></li>

          <li class="glyph"><a href="#crosshair" title="crosshair">⌖</a></li>

          <li class="glyph"><a href="#envelope" title="envelope">✉</a></li>

          <li class="glyph"><a href="#key" title="key">🔑</a></li>

          <li class="glyph"><a href="#pricetag" title="pricetag"></a></li>

          <li class="glyph"><a href="#mailbox" title="mailbox">📮</a></li>

          <li class="glyph"><a href="#phone" title="phone">📞</a></li>

          <li class="glyph"><a href="#phonecircle" title="phonecircle"></a></li>

          <li class="glyph"><a href="#print" title="print">⎙</a></li>

          <li class="glyph"><a href="#measure" title="measure">📏</a></li>

          <li class="glyph"><a href="#info" title="info">ℹ</a></li>

          <li class="glyph"><a href="#info2" title="info2"></a></li>

          <li class="glyph"><a href="#help" title="help">❓</a></li>

          <li class="glyph"><a href="#alert" title="alert">⚠</a></li>

          <li class="glyph"><a href="#alertoutline" title="alertoutline"></a></li>

          <li class="glyph"><a href="#subwaystation" title="subwaystation"></a></li>

          <li class="glyph"><a href="#airplane" title="airplane">✈</a></li>

          <li class="glyph"><a href="#bus" title="bus">🚍</a></li>

          <li class="glyph"><a href="#train" title="train">🚆</a></li>

          <li class="glyph"><a href="#tram" title="tram">🚊</a></li>

          <li class="glyph"><a href="#subway" title="subway">🚇</a></li>

          <li class="glyph"><a href="#ferry" title="ferry">⛴</a></li>

          <li class="glyph"><a href="#car" title="car">🚘</a></li>

          <li class="glyph"><a href="#two-cars" title="two-cars"></a></li>

          <li class="glyph"><a href="#taxi" title="taxi">🚖</a></li>

          <li class="glyph"><a href="#bike" title="bike">🚲</a></li>

          <li class="glyph"><a href="#biking" title="biking">🚴</a></li>

          <li class="glyph"><a href="#walking" title="walking">🚶</a></li>

          <li class="glyph"><a href="#snowmobile" title="snowmobile"></a></li>

          <li class="glyph"><a href="#crosscountryskiing" title="crosscountryskiing"></a></li>

          <li class="glyph"><a href="#skihiking" title="skihiking"></a></li>

          <li class="glyph"><a href="#downhillskiing" title="downhillskiing">⛷</a></li>

          <li class="glyph"><a href="#manstanding" title="manstanding">🚹</a></li>

          <li class="glyph"><a href="#sleeping-accomodation" title="sleeping-accomodation">🛌</a></li>

          <li class="glyph"><a href="#hospitalsign" title="hospitalsign"></a></li>

          <li class="glyph"><a href="#hospitalsign-round" title="hospitalsign-round"></a></li>

          <li class="glyph"><a href="#hospitalsign-round2" title="hospitalsign-round2"></a></li>

          <li class="glyph"><a href="#fuelpump" title="fuelpump">⛽</a></li>

          <li class="glyph"><a href="#petrolcan" title="petrolcan"></a></li>

          <li class="glyph"><a href="#recycling" title="recycling">♲</a></li>

          <li class="glyph"><a href="#windturbine" title="windturbine"></a></li>

          <li class="glyph"><a href="#soccer-ball" title="soccer-ball">⚽</a></li>

          <li class="glyph"><a href="#playground" title="playground"></a></li>

          <li class="glyph"><a href="#tulip" title="tulip">🌷</a></li>

          <li class="glyph"><a href="#heart" title="heart">♥</a></li>

          <li class="glyph"><a href="#owl" title="owl"></a></li>

          <li class="glyph"><a href="#cottage" title="cottage"></a></li>

          <li class="glyph"><a href="#office-building" title="office-building">🏢</a></li>

          <li class="glyph"><a href="#area" title="area"></a></li>

          <li class="glyph"><a href="#line" title="line"></a></li>

          <li class="glyph"><a href="#navigateup" title="navigateup"></a></li>

          <li class="glyph"><a href="#navigateright" title="navigateright">▻</a></li>

          <li class="glyph"><a href="#navigatedown" title="navigatedown"></a></li>

          <li class="glyph"><a href="#navigateleft" title="navigateleft">◅</a></li>

          <li class="glyph"><a href="#double-arrow-right" title="double-arrow-right"></a></li>

          <li class="glyph"><a href="#double-arrow-left" title="double-arrow-left"></a></li>

          <li class="glyph"><a href="#dropdown" title="dropdown">▾</a></li>

          <li class="glyph"><a href="#rejta" title="rejta"></a></li>

          <li class="glyph"><a href="#rejtaempty" title="rejtaempty"></a></li>

          <li class="glyph"><a href="#rejtahalf" title="rejtahalf"></a></li>

          <li class="glyph"><a href="#proff" title="proff"></a></li>

          <li class="glyph"><a href="#facebook" title="facebook"></a></li>

          <li class="glyph"><a href="#facebookf" title="facebookf"></a></li>

          <li class="glyph"><a href="#twitter" title="twitter"></a></li>

          <li class="glyph"><a href="#instagram" title="instagram"></a></li>

          <li class="glyph"><a href="#pinterest" title="pinterest"></a></li>

          <li class="glyph"><a href="#rss" title="rss"></a></li>

          <li class="glyph"><a href="#youtube" title="youtube"></a></li>

          <li class="glyph"><a href="#youtubeplay" title="youtubeplay"></a></li>

          <li class="glyph"><a href="#skype" title="skype"></a></li>

          <li class="glyph"><a href="#linkedin" title="linkedin"></a></li>

          <li class="glyph"><a href="#flickr" title="flickr"></a></li>

          <li class="glyph"><a href="#googleplus" title="googleplus"></a></li>

          <li class="glyph"><a href="#turnleft" title="turnleft"></a></li>

          <li class="glyph"><a href="#turnright" title="turnright"></a></li>

          <li class="glyph"><a href="#branchleft" title="branchleft"></a></li>

          <li class="glyph"><a href="#branchright" title="branchright"></a></li>

          <li class="glyph"><a href="#sliproadleft" title="sliproadleft"></a></li>

          <li class="glyph"><a href="#sliproadright" title="sliproadright"></a></li>

          <li class="glyph"><a href="#roundaboutleft" title="roundaboutleft"></a></li>

          <li class="glyph"><a href="#roundaboutstraight" title="roundaboutstraight"></a></li>

          <li class="glyph"><a href="#roundaboutright" title="roundaboutright"></a></li>

          <li class="glyph"><a href="#guestharbour" title="guestharbour"></a></li>

          <li class="glyph"><a href="#natureharbour" title="natureharbour"></a></li>

          <li class="glyph"><a href="#captainshat" title="captainshat"></a></li>

          <li class="glyph"><a href="#speedcamera" title="speedcamera"></a></li>

          <li class="glyph"><a href="#tollroad" title="tollroad"></a></li>

          <li class="glyph"><a href="#trafficwarning" title="trafficwarning"></a></li>

          <li class="glyph"><a href="#no-entry" title="no-entry">⛔</a></li>

          <li class="glyph"><a href="#roadwork" title="roadwork"></a></li>

          <li class="glyph"><a href="#reststop" title="reststop"></a></li>


         </ul>
      </div>
