<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h2 id="gridsystem">Grid system</h2>

<p>Bootstrap includes a powerful mobile-first flexbox grid system for building layouts of all shapes and sizes. It’s based on a 12 column layout and has multiple tiers, one for each media query range. You can use it with Sass mixins or our predefined classes.</p>

<figure>
<img src="app/assets/grid-desktop.png" alt="Grid Graphic representation" />
<figcaption>Grid Graphic representation</figcaption>
</figure>

<p><span>Total Width: 1160px Columns: 12 Column Width: 60px Gutter Width: 40px or 66.66% of column width </span></p>

</body>
</html>
