<div class="container card mb-3"><article class="row">
<div class="col-md-3 col-sm-3 col-xs-4 anima scale-in"><figure style="margin: -1em 0;"><img class="zoom-img shrink img-responsive center-block" src="app/assets/scan-results-puck.png" alt="45%"></figure></div>
<div class="col-md-9 col-sm-9 col-xs-8 ">
<p class="lead mt-2">Se till så att din företagsinformation syns korrekt!</p>
<h3 id="scanResultH3" class="mt-1 display-3">Nu är det dags att nå 100%</h3>
<p class="mt-1">Fixa till din synlighet på hela internet!</p>
</div>
</article></div>

<div class="container card card-accent mb-3"><article class="row">
<div class="col-md-3 col-sm-3 col-xs-4 anima scale-in"><figure style="margin: -1em 0;"><img class="zoom-img shrink img-responsive center-block" src="app/assets/scan-results-puck.png" alt="45%"></figure></div>
<div class="col-md-9 col-sm-9 col-xs-8 ">
<p class="lead mt-2">Se till så att din företagsinformation syns korrekt!</p>
<h3 id="scanResultH3" class="mt-1 display-3">Nu är det dags att nå 100%</h3>
<p class="mt-1">Fixa till din synlighet på hela internet!</p>
</div>
</article></div>
