                <div class="col-sm-12 card card-accent py-3 px-3">
                    <div class="hero-unit">
                        <h4>Scanna din digitala närvaro på 10 sekunder!</h4>

                        <div class="contact-info">
                            <div id="alert-contact">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>

                            <form id="contact-form" autocomplete="nope" action="#" class="myform" method="post" novalidate="">
                                <input style="display: none;" type="submit">

                                <fieldset>
                                    <input name="country" type="hidden" value="SE">
                                    <input name="suggest" type="hidden" value="FALSE">
                                    <input name="inbound" type="hidden" value="Core-">
                                    <input type="hidden" name="action" value="scan_form">

                                                                        <div class="row clearfix form-tooltip">
                                        Kontrollera att dina uppgifter nedan är rätt
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Företagsnamn</label>
                                                <div class="controls">
                                                    <input name="companyName" value="" placeholder="Företagsnamn" class="form-control input-lg requiredField" type="text" data-error-empty="Skriv in ett företagsnamn">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Adress</label>
                                                <div class="controls">
                                                    <input name="companyStreet" value="" placeholder="Adress" class="form-control input-lg requiredField" type="text" data-error-empty="Din Adress">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">

                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Postnummer</label>
                                                <div class=" controls">
                                                    <input name="postCode" value="" placeholder="Postnummer" class="form-control input-lg requiredField" type="text" data-error-empty="XXX XX">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Ort</label>
                                                <div class=" controls">
                                                    <input name="geoArea" value="" placeholder="Ort" class="form-control input-lg requiredField" type="text" data-error-empty="Skriv Ort">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Telefon</label>
                                                <div class="controls">
                                                    <input name="companyPhone" value="" placeholder="Telefonnummer" class="form-control input-lg requiredField" type="tel" data-error-empty="Ditt nummer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <hr style="margin:15px auto 25px">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Namn</label>
                                                <div class="controls">
                                                    <input name="contactName" placeholder="Ditt Namn" class="form-control input-lg requiredField" type="text" data-error-empty="Skriv ditt namn">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="contact-mail">E-post</label>
                                                <div class=" controls">
                                                    <input name="email" placeholder="Din e-post" class="form-control input-lg requiredField" type="email" data-error-invalid="Felaktig e-postadress" data-error-empty="Din E-post">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12 col-sm-11 col-md-11 col-sm-offset-1 col-md-offset-1">
                                            <div class="form-group">
                                                <p>
                                                    <button name="submit" type="submit" style="display: block;" class="btn btn-primary btn-lg p-1 px-3 mt-2 mx-auto" data-error-message="Vänligen, försök igen" data-sending-message="Sänder..." data-ok-message="Scannar...">Kostnadsfri närvarokoll </button>
                                                </p>
                                                <input type="hidden" name="submitted" id="submitted3" value="true">
                                                <input type="hidden" name="isNotProspect" value="">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
