<div class="col-xs-6">
  <div class="container card-dark mb-1"><article class="row">
  <div class="col-xs-12">
  <p class="lead mt-1">Vi har tagit emot din beställning!</p>
  <h2 id="scanResultH3" class="mt-1 display-1">Tack kära kund!</h3>
  <p class="mt-1">Logga in här</p>
  </div>
  </article></div>
</div>

<div class="col-xs-6">
  <div class="container card-blue mb-1"><article class="row">
  <div class="col-xs-12">
  <p class="lead mt-1">Se till så att din företagsinformation syns korrekt!</p>
  <h2 id="scanResultH3" class="mt-1 display-1">Maxa din data</h3>
  <p class="mt-1">Fixa till din synlighet på hela internet!</p>
  </div>
  </article></div>
</div>
