<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h2 id="progress">Progress</h2>

<p>For a future dynamic loading scanner we should apply this progress bar in a dynamic fashion displaying the process of current scan.</p>

<figure>
<img src="app/assets/Process-Bar.png" alt="Progress Bar Graphic" />
<figcaption>Progress Bar Graphic</figcaption>
</figure>

<p><span><code>&lt;progress&gt;&lt;/progress&gt;</code>-element</span> <span style="float:right;"><code>&lt;loading&gt;&lt;/loading&gt;</code>-element</span></p>

<h2 id="steps">Steps</h2>

<p>In our shopping funnel we should represent the corresponding funnel steps in a graphical fashion displaying user completion process with simple, non-obtrusive steps.</p>

<figure>
<img src="app/assets/Process-Steps-Tiny.png" alt="Progress Steps Graphic" />
<figcaption>Progress Steps Graphic</figcaption>
</figure>

<figure>
<img src="app/assets/Process-Steps-Horz.png" alt="Progress Steps Graphic" />
<figcaption>Progress Steps Graphic</figcaption>
</figure>

</body>
</html>
