<section class="card-dark breakout p-3">
  <div class="container pt-2 pb-3">
    <h3 style="text-align: center;" class="p-2">Ta kontroll över hur ditt företag ser ut på nätet med Eniro Närvarokoll</h3>

    <div class="row">
      <div class="col-md-4 text-center">Uppdatera på ett ställe – få rätt information på hela internet (Facebook, Google etc)</div>
      <div class="col-md-4 text-center">Vad säger kunderna om ditt företag? Med Eniro Närvarokoll kan du läsa recensioner &amp; omdömen om ditt företag, från hela webben.</div>
      <div class="col-md-4 text-center">Eniro Närvarokoll gör det lättare att göra uppdateringar på sociala medier som Facebook, Instagram, Twitter och Google+.</div>
    </div>

  </div>
</section>
