<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<p>This is a general wordpress page (without header and footer) constructed with typical wrapper elements.
```
<div class="wrapper" id="full-width-page-wrapper"></p>

<pre><code>&lt;div class=&quot;container&quot; id=&quot;content&quot;&gt;

    &lt;div class=&quot;row&quot;&gt;

        &lt;div class=&quot;col-md-12 content-area&quot; id=&quot;primary&quot;&gt;

            &lt;main class=&quot;site-main&quot; id=&quot;main&quot; role=&quot;main&quot;&gt;

                    &lt;article class=&quot;important-article-3&quot;&gt;
          &lt;!-- #post-## --&gt;
                        &lt;div class=&quot;entry-content&quot; id=&quot;narvarokollen-template-page-content&quot;&gt;
            &lt;!-- .entry-content --&gt;
          &lt;/div&gt;

          &lt;div class=&quot;entry-content&quot;&gt;
            &lt;!-- .entry-content --&gt;
            &lt;section id=&quot;hero&quot; class=&quot;m-center bg-shop full-height&quot;&gt;
              &lt;div class=&quot;center-box&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                  &lt;div class=&quot;row&quot;&gt;
                    &lt;!-- .entry-content --&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/section&gt;
                        &lt;/div&gt;
                  &lt;/article&gt;

            &lt;/main&gt;&lt;!-- #main --&gt;

        &lt;/div&gt;&lt;!-- #primary --&gt;

    &lt;/div&gt;&lt;!-- .row end --&gt;

&lt;/div&gt;&lt;!-- Container end --&gt;
</code></pre>

<p></div>
```</p>

</body>
</html>
