@charset "UTF-8";
@font-face {
  font-family: 'enironetto';
  src: url("../assets/fonts/EniroNetto.eot");
  src: url("../assets/fonts/EniroNetto.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/EniroNetto.woff") format("woff"), url("../assets/fonts/EniroNetto.ttf") format("truetype"), url("../assets/fonts/EniroNetto.svg#eniro_nettolight") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'enironetto';
  src: url("../assets/fonts/EniroNetto-Bold.eot");
  src: url("../assets/fonts/EniroNetto-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/EniroNetto-Bold.woff") format("woff"), url("../assets/fonts/EniroNetto-Bold.ttf") format("truetype"), url("../assets/fonts/EniroNetto-Bold.svg#eniro_nettolight") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'enironetto';
  src: url("../assets/fonts/EniroNetto-Light.eot");
  src: url("../assets/fonts/EniroNetto-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/EniroNetto-Light.woff") format("woff"), url("../assets/fonts/EniroNetto-Light.ttf") format("truetype"), url("../assets/fonts/EniroNetto-Light.svg#eniro_nettolight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "eniro-icon";
  src: url("../assets/fonts/eniro-icon.eot");
  src: url("../assets/fonts/eniro-icon.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/eniro-icon.woff") format("woff"), url("../assets/fonts/eniro-icon.ttf") format("truetype"), url("../assets/fonts/eniro-icon.svg#eniro-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

.e-icon-house::before, .e-icon-briefcase::before, .e-icon-location::before, .e-icon-location2::before, .e-icon-locationa::before, .e-icon-locationb::before, .e-icon-cart::before, .e-icon-webshop::before, .e-icon-search::before, .e-icon-share::before, .e-icon-cog::before, .e-icon-clear::before, .e-icon-checkcircle::before, .e-icon-blacklargecircle::before, .e-icon-blackcircle::before, .e-icon-closethin::before, .e-icon-trashcan::before, .e-icon-plus::before, .e-icon-minus::before, .e-icon-rows::before, .e-icon-columns::before, .e-icon-list::before, .e-icon-dotdotdot::before, .e-icon-more-vertical::before, .e-icon-expand::before, .e-icon-contract::before, .e-icon-switchleftright::before, .e-icon-switchupdown::before, .e-icon-play::before, .e-icon-navigate::before, .e-icon-earth::before, .e-icon-chat::before, .e-icon-user::before, .e-icon-users::before, .e-icon-routing::before, .e-icon-layers::before, .e-icon-calendar::before, .e-icon-pencil::before, .e-icon-compose::before, .e-icon-download::before, .e-icon-upload::before, .e-icon-fork-and-knife::before, .e-icon-camera::before, .e-icon-clock::before, .e-icon-crosshair::before, .e-icon-envelope::before, .e-icon-key::before, .e-icon-pricetag::before, .e-icon-mailbox::before, .e-icon-phone::before, .e-icon-phonecircle::before, .e-icon-print::before, .e-icon-measure::before, .e-icon-info::before, .e-icon-info2::before, .e-icon-help::before, .e-icon-alert::before, .e-icon-alertoutline::before, .e-icon-subwaystation::before, .e-icon-airplane::before, .e-icon-bus::before, .e-icon-train::before, .e-icon-tram::before, .e-icon-subway::before, .e-icon-ferry::before, .e-icon-car::before, .e-icon-bike::before, .e-icon-biking::before, .e-icon-walking::before, .e-icon-snowmobile::before, .e-icon-crosscountryskiing::before, .e-icon-skihiking::before, .e-icon-downhillskiing::before, .e-icon-manstanding::before, .e-icon-fuelpump::before, .e-icon-windturbine::before, .e-icon-soccer-ball::before, .e-icon-playground::before, .e-icon-tulip::before, .e-icon-heart::before, .e-icon-owl::before, .e-icon-cottage::before, .e-icon-office-building::before, .e-icon-area::before, .e-icon-line::before, .e-icon-navigateup::before, .e-icon-navigateright::before, .e-icon-navigatedown::before, .e-icon-navigateleft::before, .e-icon-double-arrow-right::before, .e-icon-double-arrow-left::before, .e-icon-dropdown::before, .e-icon-rejta::before, .e-icon-rejtaempty::before, .e-icon-rejtahalf::before, .e-icon-proff::before, .e-icon-facebook::before, .e-icon-facebookf::before, .e-icon-twitter::before, .e-icon-instagram::before, .e-icon-pinterest::before, .e-icon-rss::before, .e-icon-youtube::before, .e-icon-youtubeplay::before, .e-icon-skype::before, .e-icon-linkedin::before, .e-icon-flickr::before, .e-icon-googleplus::before, .e-icon-turnleft::before, .e-icon-turnright::before, .e-icon-branchleft::before, .e-icon-branchright::before, .e-icon-sliproadleft::before, .e-icon-sliproadright::before, .e-icon-roundaboutleft::before, .e-icon-roundaboutstraight::before, .e-icon-roundaboutright::before, .e-icon-guestharbour::before, .e-icon-natureharbour::before, .e-icon-captainshat::before, .e-icon-speedcamera::before, .e-icon-tollroad::before, .e-icon-trafficwarning::before, .e-icon-reststop::before, .e-icon-house-after::after, .e-icon-briefcase-after::after, .e-icon-location-after::after, .e-icon-location2-after::after, .e-icon-locationa-after::after, .e-icon-locationb-after::after, .e-icon-cart-after::after, .e-icon-webshop-after::after, .e-icon-search-after::after, .e-icon-share-after::after, .e-icon-cog-after::after, .e-icon-clear-after::after, .e-icon-checkcircle-after::after, .e-icon-blacklargecircle-after::after, .e-icon-blackcircle-after::after, .e-icon-closethin-after::after, .e-icon-trashcan-after::after, .e-icon-plus-after::after, .e-icon-minus-after::after, .e-icon-rows-after::after, .e-icon-columns-after::after, .e-icon-list-after::after, .e-icon-dotdotdot-after::after, .e-icon-more-vertical-after::after, .e-icon-expand-after::after, .e-icon-contract-after::after, .e-icon-switchleftright-after::after, .e-icon-switchupdown-after::after, .e-icon-play-after::after, .e-icon-navigate-after::after, .e-icon-earth-after::after, .e-icon-chat-after::after, .e-icon-user-after::after, .e-icon-users-after::after, .e-icon-routing-after::after, .e-icon-layers-after::after, .e-icon-calendar-after::after, .e-icon-pencil-after::after, .e-icon-compose-after::after, .e-icon-download-after::after, .e-icon-upload-after::after, .e-icon-fork-and-knife-after::after, .e-icon-camera-after::after, .e-icon-clock-after::after, .e-icon-crosshair-after::after, .e-icon-envelope-after::after, .e-icon-key-after::after, .e-icon-pricetag-after::after, .e-icon-mailbox-after::after, .e-icon-phone-after::after, .e-icon-phonecircle-after::after, .e-icon-print-after::after, .e-icon-measure-after::after, .e-icon-info-after::after, .e-icon-info2-after::after, .e-icon-help-after::after, .e-icon-alert-after::after, .e-icon-alertoutline-after::after, .e-icon-subwaystation-after::after, .e-icon-airplane-after::after, .e-icon-bus-after::after, .e-icon-train-after::after, .e-icon-tram-after::after, .e-icon-subway-after::after, .e-icon-ferry-after::after, .e-icon-car-after::after, .e-icon-bike-after::after, .e-icon-biking-after::after, .e-icon-walking-after::after, .e-icon-snowmobile-after::after, .e-icon-crosscountryskiing-after::after, .e-icon-skihiking-after::after, .e-icon-downhillskiing-after::after, .e-icon-manstanding-after::after, .e-icon-fuelpump-after::after, .e-icon-windturbine-after::after, .e-icon-soccer-ball-after::after, .e-icon-playground-after::after, .e-icon-tulip-after::after, .e-icon-heart-after::after, .e-icon-owl-after::after, .e-icon-cottage-after::after, .e-icon-office-building-after::after, .e-icon-area-after::after, .e-icon-line-after::after, .e-icon-navigateup-after::after, .e-icon-navigateright-after::after, .e-icon-navigatedown-after::after, .e-icon-navigateleft-after::after, .e-icon-double-arrow-right-after::after, .e-icon-double-arrow-left-after::after, .e-icon-dropdown-after::after, .e-icon-rejta-after::after, .e-icon-rejtaempty-after::after, .e-icon-rejtahalf-after::after, .e-icon-proff-after::after, .e-icon-facebook-after::after, .e-icon-facebookf-after::after, .e-icon-twitter-after::after, .e-icon-instagram-after::after, .e-icon-pinterest-after::after, .e-icon-rss-after::after, .e-icon-youtube-after::after, .e-icon-youtubeplay-after::after, .e-icon-skype-after::after, .e-icon-linkedin-after::after, .e-icon-flickr-after::after, .e-icon-googleplus-after::after, .e-icon-turnleft-after::after, .e-icon-turnright-after::after, .e-icon-branchleft-after::after, .e-icon-branchright-after::after, .e-icon-sliproadleft-after::after, .e-icon-sliproadright-after::after, .e-icon-roundaboutleft-after::after, .e-icon-roundaboutstraight-after::after, .e-icon-roundaboutright-after::after, .e-icon-guestharbour-after::after, .e-icon-natureharbour-after::after, .e-icon-captainshat-after::after, .e-icon-speedcamera-after::after, .e-icon-tollroad-after::after, .e-icon-trafficwarning-after::after, .e-icon-reststop-after::after {
  display: inline-block;
  font-family: "eniro-icon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: inherit;
  text-decoration: inherit;
  text-transform: none; }

.e-icon-house::before {
  content: "⌂"; }

.e-icon-briefcase::before {
  content: "💼"; }

.e-icon-location::before {
  content: "📌"; }

.e-icon-location2::before {
  content: "📍"; }

.e-icon-locationa::before {
  content: ""; }

.e-icon-locationb::before {
  content: ""; }

.e-icon-cart::before {
  content: ""; }

.e-icon-webshop::before {
  content: ""; }

.e-icon-search::before {
  content: "🔍"; }

.e-icon-share::before {
  content: ""; }

.e-icon-cog::before {
  content: "⚙"; }

.e-icon-clear::before {
  content: "␡"; }

.e-icon-checkcircle::before {
  content: ""; }

.e-icon-blacklargecircle::before {
  content: "⬤"; }

.e-icon-blackcircle::before {
  content: "●"; }

.e-icon-closethin::before {
  content: ""; }

.e-icon-trashcan::before {
  content: "🗑"; }

.e-icon-plus::before {
  content: "+"; }

.e-icon-minus::before {
  content: "-"; }

.e-icon-rows::before {
  content: ""; }

.e-icon-columns::before {
  content: ""; }

.e-icon-list::before {
  content: ""; }

.e-icon-dotdotdot::before {
  content: ""; }

.e-icon-more-vertical::before {
  content: ""; }

.e-icon-expand::before {
  content: "⤢"; }

.e-icon-contract::before {
  content: ""; }

.e-icon-switchleftright::before {
  content: ""; }

.e-icon-switchupdown::before {
  content: ""; }

.e-icon-play::before {
  content: "▶"; }

.e-icon-navigate::before {
  content: ""; }

.e-icon-earth::before {
  content: "🌍"; }

.e-icon-chat::before {
  content: "💬"; }

.e-icon-user::before {
  content: "👤"; }

.e-icon-users::before {
  content: "👥"; }

.e-icon-routing::before {
  content: ""; }

.e-icon-layers::before {
  content: ""; }

.e-icon-calendar::before {
  content: "📅"; }

.e-icon-pencil::before {
  content: "🖉"; }

.e-icon-compose::before {
  content: ""; }

.e-icon-download::before {
  content: ""; }

.e-icon-upload::before {
  content: ""; }

.e-icon-fork-and-knife::before {
  content: "🍴"; }

.e-icon-camera::before {
  content: "📷"; }

.e-icon-clock::before {
  content: "⏲"; }

.e-icon-crosshair::before {
  content: "⌖"; }

.e-icon-envelope::before {
  content: "✉"; }

.e-icon-key::before {
  content: "🔑"; }

.e-icon-pricetag::before {
  content: ""; }

.e-icon-mailbox::before {
  content: "📮"; }

.e-icon-phone::before {
  content: "📞"; }

.e-icon-phonecircle::before {
  content: ""; }

.e-icon-print::before {
  content: "⎙"; }

.e-icon-measure::before {
  content: "📏"; }

.e-icon-info::before {
  content: "ℹ"; }

.e-icon-info2::before {
  content: ""; }

.e-icon-help::before {
  content: "❓"; }

.e-icon-alert::before {
  content: "⚠"; }

.e-icon-alertoutline::before {
  content: ""; }

.e-icon-subwaystation::before {
  content: ""; }

.e-icon-airplane::before {
  content: "✈"; }

.e-icon-bus::before {
  content: "🚍"; }

.e-icon-train::before {
  content: "🚆"; }

.e-icon-tram::before {
  content: "🚊"; }

.e-icon-subway::before {
  content: "🚇"; }

.e-icon-ferry::before {
  content: "⛴"; }

.e-icon-car::before {
  content: "🚘"; }

.e-icon-bike::before {
  content: "🚲"; }

.e-icon-biking::before {
  content: "🚴"; }

.e-icon-walking::before {
  content: "🚶"; }

.e-icon-snowmobile::before {
  content: ""; }

.e-icon-crosscountryskiing::before {
  content: ""; }

.e-icon-skihiking::before {
  content: ""; }

.e-icon-downhillskiing::before {
  content: "⛷"; }

.e-icon-manstanding::before {
  content: "🚹"; }

.e-icon-fuelpump::before {
  content: "⛽"; }

.e-icon-windturbine::before {
  content: ""; }

.e-icon-soccer-ball::before {
  content: "⚽"; }

.e-icon-playground::before {
  content: ""; }

.e-icon-tulip::before {
  content: "🌷"; }

.e-icon-heart::before {
  content: "♥"; }

.e-icon-owl::before {
  content: ""; }

.e-icon-cottage::before {
  content: ""; }

.e-icon-office-building::before {
  content: "🏢"; }

.e-icon-area::before {
  content: ""; }

.e-icon-line::before {
  content: ""; }

.e-icon-navigateup::before {
  content: ""; }

.e-icon-navigateright::before {
  content: "▻"; }

.e-icon-navigatedown::before {
  content: ""; }

.e-icon-navigateleft::before {
  content: "◅"; }

.e-icon-double-arrow-right::before {
  content: ""; }

.e-icon-double-arrow-left::before {
  content: ""; }

.e-icon-dropdown::before {
  content: "▾"; }

.e-icon-rejta::before {
  content: ""; }

.e-icon-rejtaempty::before {
  content: ""; }

.e-icon-rejtahalf::before {
  content: ""; }

.e-icon-proff::before {
  content: ""; }

.e-icon-facebook::before {
  content: ""; }

.e-icon-facebookf::before {
  content: ""; }

.e-icon-twitter::before {
  content: ""; }

.e-icon-instagram::before {
  content: ""; }

.e-icon-pinterest::before {
  content: ""; }

.e-icon-rss::before {
  content: ""; }

.e-icon-youtube::before {
  content: ""; }

.e-icon-youtubeplay::before {
  content: ""; }

.e-icon-skype::before {
  content: ""; }

.e-icon-linkedin::before {
  content: ""; }

.e-icon-flickr::before {
  content: ""; }

.e-icon-googleplus::before {
  content: ""; }

.e-icon-turnleft::before {
  content: ""; }

.e-icon-turnright::before {
  content: ""; }

.e-icon-branchleft::before {
  content: ""; }

.e-icon-branchright::before {
  content: ""; }

.e-icon-sliproadleft::before {
  content: ""; }

.e-icon-sliproadright::before {
  content: ""; }

.e-icon-roundaboutleft::before {
  content: ""; }

.e-icon-roundaboutstraight::before {
  content: ""; }

.e-icon-roundaboutright::before {
  content: ""; }

.e-icon-guestharbour::before {
  content: ""; }

.e-icon-natureharbour::before {
  content: ""; }

.e-icon-captainshat::before {
  content: ""; }

.e-icon-speedcamera::before {
  content: ""; }

.e-icon-tollroad::before {
  content: ""; }

.e-icon-trafficwarning::before {
  content: ""; }

.e-icon-reststop::before {
  content: ""; }

.e-icon-house-after::after {
  content: "⌂"; }

.e-icon-briefcase-after::after {
  content: "💼"; }

.e-icon-location-after::after {
  content: "📌"; }

.e-icon-location2-after::after {
  content: "📍"; }

.e-icon-locationa-after::after {
  content: ""; }

.e-icon-locationb-after::after {
  content: ""; }

.e-icon-cart-after::after {
  content: ""; }

.e-icon-webshop-after::after {
  content: ""; }

.e-icon-search-after::after {
  content: "🔍"; }

.e-icon-share-after::after {
  content: ""; }

.e-icon-cog-after::after {
  content: "⚙"; }

.e-icon-clear-after::after {
  content: "␡"; }

.e-icon-checkcircle-after::after {
  content: ""; }

.e-icon-blacklargecircle-after::after {
  content: "⬤"; }

.e-icon-blackcircle-after::after {
  content: "●"; }

.e-icon-closethin-after::after {
  content: ""; }

.e-icon-trashcan-after::after {
  content: "🗑"; }

.e-icon-plus-after::after {
  content: "+"; }

.e-icon-minus-after::after {
  content: "-"; }

.e-icon-rows-after::after {
  content: ""; }

.e-icon-columns-after::after {
  content: ""; }

.e-icon-list-after::after {
  content: ""; }

.e-icon-dotdotdot-after::after {
  content: ""; }

.e-icon-more-vertical-after::after {
  content: ""; }

.e-icon-expand-after::after {
  content: "⤢"; }

.e-icon-contract-after::after {
  content: ""; }

.e-icon-switchleftright-after::after {
  content: ""; }

.e-icon-switchupdown-after::after {
  content: ""; }

.e-icon-play-after::after {
  content: "▶"; }

.e-icon-navigate-after::after {
  content: ""; }

.e-icon-earth-after::after {
  content: "🌍"; }

.e-icon-chat-after::after {
  content: "💬"; }

.e-icon-user-after::after {
  content: "👤"; }

.e-icon-users-after::after {
  content: "👥"; }

.e-icon-routing-after::after {
  content: ""; }

.e-icon-layers-after::after {
  content: ""; }

.e-icon-calendar-after::after {
  content: "📅"; }

.e-icon-pencil-after::after {
  content: "🖉"; }

.e-icon-compose-after::after {
  content: ""; }

.e-icon-download-after::after {
  content: ""; }

.e-icon-upload-after::after {
  content: ""; }

.e-icon-fork-and-knife-after::after {
  content: "🍴"; }

.e-icon-camera-after::after {
  content: "📷"; }

.e-icon-clock-after::after {
  content: "⏲"; }

.e-icon-crosshair-after::after {
  content: "⌖"; }

.e-icon-envelope-after::after {
  content: "✉"; }

.e-icon-key-after::after {
  content: "🔑"; }

.e-icon-pricetag-after::after {
  content: ""; }

.e-icon-mailbox-after::after {
  content: "📮"; }

.e-icon-phone-after::after {
  content: "📞"; }

.e-icon-phonecircle-after::after {
  content: ""; }

.e-icon-print-after::after {
  content: "⎙"; }

.e-icon-measure-after::after {
  content: "📏"; }

.e-icon-info-after::after {
  content: "ℹ"; }

.e-icon-info2-after::after {
  content: ""; }

.e-icon-help-after::after {
  content: "❓"; }

.e-icon-alert-after::after {
  content: "⚠"; }

.e-icon-alertoutline-after::after {
  content: ""; }

.e-icon-subwaystation-after::after {
  content: ""; }

.e-icon-airplane-after::after {
  content: "✈"; }

.e-icon-bus-after::after {
  content: "🚍"; }

.e-icon-train-after::after {
  content: "🚆"; }

.e-icon-tram-after::after {
  content: "🚊"; }

.e-icon-subway-after::after {
  content: "🚇"; }

.e-icon-ferry-after::after {
  content: "⛴"; }

.e-icon-car-after::after {
  content: "🚘"; }

.e-icon-bike-after::after {
  content: "🚲"; }

.e-icon-biking-after::after {
  content: "🚴"; }

.e-icon-walking-after::after {
  content: "🚶"; }

.e-icon-snowmobile-after::after {
  content: ""; }

.e-icon-crosscountryskiing-after::after {
  content: ""; }

.e-icon-skihiking-after::after {
  content: ""; }

.e-icon-downhillskiing-after::after {
  content: "⛷"; }

.e-icon-manstanding-after::after {
  content: "🚹"; }

.e-icon-fuelpump-after::after {
  content: "⛽"; }

.e-icon-windturbine-after::after {
  content: ""; }

.e-icon-soccer-ball-after::after {
  content: "⚽"; }

.e-icon-playground-after::after {
  content: ""; }

.e-icon-tulip-after::after {
  content: "🌷"; }

.e-icon-heart-after::after {
  content: "♥"; }

.e-icon-owl-after::after {
  content: ""; }

.e-icon-cottage-after::after {
  content: ""; }

.e-icon-office-building-after::after {
  content: "🏢"; }

.e-icon-area-after::after {
  content: ""; }

.e-icon-line-after::after {
  content: ""; }

.e-icon-navigateup-after::after {
  content: ""; }

.e-icon-navigateright-after::after {
  content: "▻"; }

.e-icon-navigatedown-after::after {
  content: ""; }

.e-icon-navigateleft-after::after {
  content: "◅"; }

.e-icon-double-arrow-right-after::after {
  content: ""; }

.e-icon-double-arrow-left-after::after {
  content: ""; }

.e-icon-dropdown-after::after {
  content: "▾"; }

.e-icon-rejta-after::after {
  content: ""; }

.e-icon-rejtaempty-after::after {
  content: ""; }

.e-icon-rejtahalf-after::after {
  content: ""; }

.e-icon-proff-after::after {
  content: ""; }

.e-icon-facebook-after::after {
  content: ""; }

.e-icon-facebookf-after::after {
  content: ""; }

.e-icon-twitter-after::after {
  content: ""; }

.e-icon-instagram-after::after {
  content: ""; }

.e-icon-pinterest-after::after {
  content: ""; }

.e-icon-rss-after::after {
  content: ""; }

.e-icon-youtube-after::after {
  content: ""; }

.e-icon-youtubeplay-after::after {
  content: ""; }

.e-icon-skype-after::after {
  content: ""; }

.e-icon-linkedin-after::after {
  content: ""; }

.e-icon-flickr-after::after {
  content: ""; }

.e-icon-googleplus-after::after {
  content: ""; }

.e-icon-turnleft-after::after {
  content: ""; }

.e-icon-turnright-after::after {
  content: ""; }

.e-icon-branchleft-after::after {
  content: ""; }

.e-icon-branchright-after::after {
  content: ""; }

.e-icon-sliproadleft-after::after {
  content: ""; }

.e-icon-sliproadright-after::after {
  content: ""; }

.e-icon-roundaboutleft-after::after {
  content: ""; }

.e-icon-roundaboutstraight-after::after {
  content: ""; }

.e-icon-roundaboutright-after::after {
  content: ""; }

.e-icon-guestharbour-after::after {
  content: ""; }

.e-icon-natureharbour-after::after {
  content: ""; }

.e-icon-captainshat-after::after {
  content: ""; }

.e-icon-speedcamera-after::after {
  content: ""; }

.e-icon-tollroad-after::after {
  content: ""; }

.e-icon-trafficwarning-after::after {
  content: ""; }

.e-icon-reststop-after::after {
  content: ""; }

/* For icon styleguide */
#glyphs,
#usage {
  margin-top: 0em; }

#glyphs .glyph {
  padding: 20px 25px;
  line-height: 1;
  width: 60px;
  text-align: center;
  font-size: 24px; }

#usage {
  display: block;
  clear: both; }

#glyphs ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#glyphs li {
  border-bottom: 1px solid #eee; }

#glyphs {
  font-family: eniro-icon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#glyphs ul {
  /*
          This removes unwanted space characters rendered between inline li elements
        */
  font-size: 0; }

#glyphs li {
  display: inline-block; }

#usage .glyph {
  float: left;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 20px; }

#usage li {
  width: 250px;
  padding: 10px; }

#glyphs a {
  text-decoration: none;
  color: #464646; }

#glyphs a:hover {
  color: #999; }

#usage .class,
#usage .point {
  display: block;
  margin-left: 30px; }

#usage .point {
  color: #aaa; }
