<p><a title="Logga in <i class=&quot;e-icon-user&quot;></i>" href="https://login.narvarokollen.eniro.se/login/index.html" class="nav-link btn-block btn">Logga in <i class="e-icon-user"></i></a></p>
<button name="submit" type="submit" style="display: block;" class="btn btn-primary btn-lg p-1 px-3 mt-2 mx-auto" data-error-message="Vänligen, försök igen" data-sending-message="Sänder..." data-ok-message="Scannar...">Kostnadsfri närvarokoll </button>
<br>
<p><a class="btn btn-primary btn-block" href="#" rel="nofollow" data-quantity="1" data-product_id="258" data-product_sku="eos-synas">Lägg i varukorg</a></p>
